.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
  }
  